build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-10445c8f736097cac6ff.json
build/.cmake/api/v1/reply/cmakeFiles-v1-039e09878e901a22af7f.json
build/.cmake/api/v1/reply/cmakeFiles-v1-de7f6c51e0e1afb12d2b.json
build/.cmake/api/v1/reply/codemodel-v2-95010a6a0ce9dd89167d.json
build/.cmake/api/v1/reply/codemodel-v2-d82c09fdeea51361353a.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-FrameWork-Debug-fe5aff9026dfd3fd43bf.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart-Debug-e3ebe77ead9cb3e78910.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw-Debug-0ccc460dcc25e729a598.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw-Debug-307b749661cdaa048b06.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw.docs-Debug-71d7e92fdb68babf4fff.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw.docs-Debug-f6009638ecd2d0a7f76b.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw.src-Debug-d8b2034a89b362e1426a.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glfw.src-Debug-d38ddee6857bc986ed27.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.glm-Debug-6d447b269d9f4ce7f14b.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.volk-Debug-5b6fbe13d455d126c03b.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.VulkanMemoryAllocator-Debug-851e7e6009ea5e65952e.json
build/.cmake/api/v1/reply/directory-FrameWork.thirdPart.VulkanMemoryAllocator-Debug-f12c6555061ceb2f9e2a.json
build/.cmake/api/v1/reply/index-2025-04-29T09-56-16-0250.json
build/.cmake/api/v1/reply/target-docs-Debug-7c07adee4f765222042a.json
build/.cmake/api/v1/reply/target-docs-Debug-7fd0e63350ee17d7bf9e.json
build/.cmake/api/v1/reply/target-FrameWork-Debug-e66772b5df887b9fb3ba.json
build/.cmake/api/v1/reply/target-glfw-Debug-8fd6485cda65b64f280d.json
build/.cmake/api/v1/reply/target-glfw-Debug-352f798efefa26a348db.json
build/.cmake/api/v1/reply/target-uninstall-Debug-4d93b28946d32d892184.json
build/.cmake/api/v1/reply/target-uninstall-Debug-ff1c4b19cba7f733b603.json
build/.cmake/api/v1/reply/target-update_mappings-Debug-a31c4b382837a810563a.json
build/.cmake/api/v1/reply/target-update_mappings-Debug-b8b6b9fe6ff856a6afdb.json
build/.cmake/api/v1/reply/target-volk-Debug-91d91a07b7bb1a545c6b.json
build/.cmake/api/v1/reply/toolchains-v1-b6d206b34d9de28f8548.json
build/.cmake/api/v1/reply/toolchains-v1-b454928ab40b8594c0b4.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.31.0-rc1/CMakeCCompiler.cmake
build/CMakeFiles/3.31.0-rc1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.0-rc1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.0-rc1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.0-rc1/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.0-rc1/CMakeSystem.cmake
build/CMakeFiles/3.31.0-rc1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.0-rc1/CompilerIdC/CMakeCCompilerId.exe
build/CMakeFiles/3.31.0-rc1/CompilerIdC/CMakeCCompilerId.obj
build/CMakeFiles/3.31.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.exe
build/CMakeFiles/3.31.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.obj
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.6/CMakeSystem.cmake
build/CMakeFiles/3.31.6/CompilerIdCXX/a.out
build/CMakeFiles/ShowIncludes/foo.h
build/CMakeFiles/ShowIncludes/main.c
build/CMakeFiles/ShowIncludes/main.obj
build/FrameWork/cmake_install.cmake
build/FrameWork/FrameWork.lib
build/FrameWork/libFrameWork.a
build/FrameWork/CMakeFiles/FrameWork.dir/cmake_pch.cxx
build/FrameWork/CMakeFiles/FrameWork.dir/cmake_pch.cxx.obj
build/FrameWork/CMakeFiles/FrameWork.dir/cmake_pch.cxx.pch
build/FrameWork/CMakeFiles/FrameWork.dir/cmake_pch.hxx
build/FrameWork/CMakeFiles/FrameWork.dir/FrameWork.pdb
build/FrameWork/CMakeFiles/FrameWork.dir/vulkanFrameWork.cpp.o
build/FrameWork/CMakeFiles/FrameWork.dir/vulkanFrameWork.cpp.obj
build/FrameWork/thirdPart/cmake_install.cmake
build/FrameWork/thirdPart/VulkanMemoryAllocator/cmake_install.cmake
build/FrameWork/thirdPart/glfw/cmake_install.cmake
build/FrameWork/thirdPart/glfw/cmake_uninstall.cmake
build/FrameWork/thirdPart/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
build/FrameWork/thirdPart/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
build/FrameWork/thirdPart/glfw/docs/cmake_install.cmake
build/FrameWork/thirdPart/glfw/docs/Doxyfile
build/FrameWork/thirdPart/glfw/src/cmake_install.cmake
build/FrameWork/thirdPart/glfw/src/glfw3.lib
build/FrameWork/thirdPart/glfw/src/glfw3.pc
build/FrameWork/thirdPart/glfw/src/libglfw3.a
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/cocoa_init.m.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/cocoa_joystick.m.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/cocoa_monitor.m.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/cocoa_time.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/cocoa_window.m.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/context.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/context.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/egl_context.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/egl_context.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/glfw.pdb
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/init.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/init.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/input.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/input.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/monitor.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/monitor.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/nsgl_context.m.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_init.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_init.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_joystick.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_monitor.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_window.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/null_window.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/osmesa_context.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/platform.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/platform.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/posix_module.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/posix_thread.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/vulkan.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/vulkan.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/wgl_context.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_init.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_joystick.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_module.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_monitor.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_thread.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_time.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/win32_window.c.obj
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/window.c.o
build/FrameWork/thirdPart/glfw/src/CMakeFiles/glfw.dir/window.c.obj
build/FrameWork/thirdPart/glm/cmake_install.cmake
build/FrameWork/thirdPart/volk/cmake_install.cmake
build/FrameWork/thirdPart/volk/libvolk.a
build/FrameWork/thirdPart/volk/volk.lib
build/FrameWork/thirdPart/volk/CMakeFiles/volk.dir/volk.c.o
build/FrameWork/thirdPart/volk/CMakeFiles/volk.dir/volk.c.obj
build/FrameWork/thirdPart/volk/CMakeFiles/volk.dir/volk.pdb
.vscode
cmake-build-debug
build
